{% extends 'base.html' %}
{% block content %}


<div class="container">
    <h1>Products</h1>
</div>
<div class="container">
    <div class="row">

    {% for names in product %}
        <div class="col-sm-3 ml-1">
            <form action="addtocart" method="get">
                <div class="card" style="width: 18rem;">
                      <img class="card-img-top image-fluid" src="{{names.image.url}}" height="200px"  width="170px" alt="">
                      <div class="card-body">
                        <h5 class="card-title">{{names.name}}</h5>
                          <p class="card-text">Price:<del> {{names.price}}</del>/ {{names.amount}}<br>Offer Price: {{names.offerprice}}/ {{names.amount}}</p>
                          {% if user.is_authenticated %}
                          <button onclick="alertt()" class="btn btn-primary" name="item" value="{{names.productcode}}">Add to Cart</button>

                          {% else %}
                          <a class="btn btn-primary" href="login">Login to add to Cart</a>
                          {% endif %}
                          <h4>{{msg}}</h4>
                      </div>
                </div>
            </form>
        </div>
    {% endfor %}

    </div>
</div>
<script>

    function alertt() {
      alert("Added to CART");
    }


</script>
{% endblock %}